*~
*.o
*.log
*.trs
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
config.*
configure
depcomp
display-float
exact-float
install-sh
libgmock.a
libgtest.a
missing
stamp-h1
test-exact-float
test-driver
tests/gmock-all.cc
tests/gtest-all.cc
